# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Session
SESSION_DRIVER=cookie
DB_HOST=DB HOST DARI SUPABASE
DB_PORT=SESUAIKAN SAMA PORT SUPABASE
DB_USER=SESUAIKAN SAMA USER DI SUPABASE
DB_PASSWORD=SESUAIKAN SAMA PASSWORD DI SUPABASE
DB_DATABASE=postgres


SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=